

<head>
    <script src="https://kit.fontawesome.com/3daac62732.js" crossorigin="anonymous"></script>
</head>
    <div class="absolute">
        <video muted autoplay loop>
            <source src="../assets/videos/video1.mp4"
            type="video/mp4">     
        </video>

    </div>
<body>
<header>
    <nav>
       <input type="checkbox" id="check">
       <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
       </label>
       <a href="#" class="enlace">
           <img src="../assets/imagenes/geo3.png" alt="geo" class="logo">
       </a>
       <ul>
           <li><a href="#">Inicio</a></li>
           <li><a href="#">Nosotros</a></li>
           <li><a href="#">Servicios</a></li>
           <li><a href="#">Portafolio</a></li>
           <li><a href="#">Contacto</a></li>
           
       </ul>
    </nav>
     
    <section>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Bienvenidos a mi página de Geografía</h2>
            <br>
            <br>
            <h2>mi nombre es Brian, soy profe de Geo</h2>
            <br>
            <br>
            <div id="videoyoutube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0NU-VCnAaeI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>">

            </div>

    
        </div>
    </section>
        <div class="social-networks">
            <a href="https://www.facebook.com/brian.palacios.752" target="BLANK" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/brian_pala16" target="BLANK" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/brian.palacios16/" target="BLANK" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCRNkbThBpvd_bBw0XBoTbBA" target="BLANK" class="youtube"><i class="fab fa-youtube"></i></a>
        </div>
</header>

</body>
<app-ejemplo></app-ejemplo>